* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: 1.5rem auto;
    text-align: center;
  
}
.grid{
    color: black;
    display: flex;
    flex-wrap: wrap;  
    width: 100%;
}


.btn, .form-select {
    padding: 1.5rem 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    background-color: red;
    color: white;
    font-size: 2rem;
}

.square{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border: 5px solid white;
}

.selected_boxes{
    background-color: green;
}


.bombs{
    background-color: red;
    color: white;
}

.results{
    margin-top: 3rem;
    font-size: 5rem;
    color: white;
}